<p-dialog [formGroup]="shopTypeForm" (onShow)="afterShow()"
          header="Карточка типов ТТ"
          appendTo="body"
          [(visible)]="display"
          [closable]="false"
          [focusOnShow]="false"
          [responsive]="true"
          showEffect="fade"
          [modal]="true"
          [style]="{width: '450px'}">

    <div class="ui-g ui-fluid" *ngIf="shopType">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="name">ИМЯ</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="name"
                 formControlName="shopTypeName"
                 autofocus/>
        </div>
        <div class="ui-grid-col-8">
          <p-message severity="error" text="Имя должно быть заполнено" *ngIf="!shopTypeForm.controls['shopTypeName'].valid&&shopTypeForm.controls['shopTypeName'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="acive">АКТИВНЫЙ</label>
        </div>
        <div class="ui-g-8">
          <p-checkbox
            id="acive"
            binary="true"
            formControlName="shopTypeActive"></p-checkbox>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="manufacturer">ПРОИЗВОДИТЕЛЬ</label>
        </div>
        <div class="ui-g-8">
          <p-dropdown
            id="manufacturer"
            formControlName="manufacture"
            filter="true"
            placeholder="Выберите производителя (обязательно)"
            [options]="manufactureList"
            optionLabel="name"
            dataKey="id"
            appendTo="body">

          </p-dropdown>
<!--          <p-multiSelect-->
<!--            (onChange)="typesChange()"-->
<!--            appendTo="body"-->
<!--            id="manufacturer"-->
<!--            selectedItemsLabel="{0} Производителей выбрано"-->
<!--            defaultLabel="Выбрать производителя"-->
<!--            dataKey="id"-->
<!--            optionLabel="name"-->
<!--            [options]="manufactureForLabels" [(ngModel)]="selectedManufactures"-->
<!--            [panelStyle]="{minWidth:'12em'}"></p-multiSelect>-->
        </div>
      </div>

    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">

        <button [disabled]="shopTypeForm.invalid" type="button" class="ui-button-success" pButton icon="fa fa-check" (click)="shopTypeSave()"
                label="Сохранить"></button>
        <button type="button" class="ui-button-secondary" pButton icon="pi pi-times" (click)="closeDialog()"
                label="Отмена"></button>
      </div>
    </p-footer>

</p-dialog>
