.ekc-content-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ekc-input-groups-label {
  display: flex;
  align-items: center
}

.ekc-input-groups-label-txt{
  font-size: 1rem;
  font-weight: 600;
  color: white;
}
