<app-navbar (onSwitchTable)="switchTable($event)">
</app-navbar>
<div class="p-grid">
  <div class="ekc-content-container p-lg-12 p-sm-12">
    <p-toolbar>
      <div class="ui-g ui-fluid">
        <div class="ui-g-2 ui-sm-12 ekc-input-groups-label">
          <div class="ekc-input-groups-label-txt">{{tableTitle}}</div>
        </div>
        <div class="ui-g-8 ui-sm-12">
          <div class="ui-inputgroup">
            <input (keydown.enter)="onSearched(tableSearch)"
                   [(ngModel)]="searchString"
                   id="search" pInputText
                   placeholder="Найти..."
                   size="32"
                   type="text"
                   #tableSearch/>
            <button (click)="onSearched(tableSearch)"
                    icon="pi pi-search" id="search-btn"
                    pButton
                    type="button">
            </button>
            <button *ngIf="searchString"
                    (click)="clearSearch()"
                    icon="pi pi-times"
                    id="clear-btn"
                    pButton
                    type="button">
            </button>
          </div>
        </div>
      </div>
    </p-toolbar>
  </div>
  <div class="ekc-content-container p-lg-12 p-sm-12">
    <app-shop-data-table *ngIf="dataType === 1"
                         #appDataTable>
    </app-shop-data-table>
    <app-counterparties-data-table *ngIf="dataType === 2"
                                   #appDataTable>
    </app-counterparties-data-table>
    <app-manufacture-data-table *ngIf="dataType === 3"
                                #appDataTable>
    </app-manufacture-data-table>
    <app-shop-types-data-table *ngIf="dataType === 4"
                               #appDataTable>
    </app-shop-types-data-table>
    <app-shop-departments-data-table *ngIf="dataType === 5"
                                     #appDataTable>
    </app-shop-departments-data-table>
    <app-sales-chanels-data-table *ngIf="dataType === 6"
                                  #appDataTable>
    </app-sales-chanels-data-table>
    <app-shop-specializations-data-table *ngIf="dataType === 7"
                                         #appDataTable>
    </app-shop-specializations-data-table>
    <app-contracts-data-table *ngIf="dataType === 8"
                              #appDataTable>
    </app-contracts-data-table>
  </div>
  <p-toast [style]="{marginTop: '80px'}"
           key="tc"
           position="top-center">
  </p-toast>
  <p-toast [baseZIndex]="5000"
           [modal]="true"
           key="c"
           position="center">
    <ng-template let-message
                 pTemplate="message">
      <div style="text-align: center">
        <i class="pi pi-exclamation-triangle"
           style="font-size: 3em">
        </i>
        <h3>{{message.summary}}</h3>
        <p>{{message.detail}}</p>
      </div>
    </ng-template>
  </p-toast>
</div>
