.ekc-table-span-active{
  padding: 3px;
  background: green;
  color: white;
  border-radius: 2px;
}
.ekc-table-span-passive{
  padding: 3px;
  background: red;
  color: white;
  border-radius: 2px;
}
