<p-table [columns]="selectedCols" [value]="dataItems" [responsive]="true" [paginator]="true" [rows]="10">
  <ng-template pTemplate="caption">
    <div style="text-align:left">
      <p-multiSelect [options]="cols" [(ngModel)]="selectedCols" optionLabel="header"
                     selectedItemsLabel="{0} колонок выбрано" [style]="{minWidth: '200px'}"
                     defaultLabel="Выбрать колонки"></p-multiSelect>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-dataItem let-columns="columns">
    <tr>
      <td *ngFor="let col of columns" style="text-align: center">
        <ng-container *ngIf="col.field !== 'active'">{{dataItem[col.field]}}</ng-container>
        <span *ngIf="col.field === 'active'"
              [ngClass]="dataItem[col.field] === true ? 'ekc-table-span-active': 'ekc-table-span-passive'"> {{dataItem[col.field] | activeTags }}</span>
      </td>
    </tr>
  </ng-template>
</p-table>

