<p-table [loading]="!dataItems" [columns]="selectedCols" selectionMode="single" [(selection)]="selectedShop" [value]="dataItems" [responsive]="true"
         [paginator]="true" [rows]="20">
  <ng-template pTemplate="caption">
    <div style="text-align:left">
      <p-multiSelect [options]="cols" [(ngModel)]="selectedCols" optionLabel="header"
                     selectedItemsLabel="{0} колонок выбрано" [style]="{minWidth: '200px'}"
                     defaultLabel="Выбрать колонки"></p-multiSelect>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>

      <th *ngFor="let col of columns" [pSortableColumn]="col.field === 'id' || col.field === 'name'? col.field : null">
        {{col.header}}
        <p-sortIcon *ngIf="col.field === 'id' || col.field === 'name'" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-dataItem let-columns="columns">
    <tr>
      <td *ngFor="let col of columns" style="text-align: center">


        <ng-container *ngIf="col.field !== 'active'">{{dataItem[col.field]}}</ng-container>
        <ng-container *ngIf="col.field === 'counterparty'">{{dataItem[col.field] | shopsCounter}}</ng-container>
        <span *ngIf="col.field === 'active'"
              [ngClass]="dataItem[col.field] === true ? 'ekc-table-span-active': 'ekc-table-span-passive'"> {{dataItem[col.field] | activeTags }}</span>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    Всего {{dataItems?.length}} объектов
  </ng-template>
</p-table>

