<div style="margin-top: 10%" class="p-grid">
  <div style="text-align: center" class="p-lg-6 p-lg-offset-3 p-sm-offset-0 p-sm-12">
    <img style="max-width: 350px" src="../../../assets/img/ekc_logo@2x.png">
  </div>
  <div class="p-lg-6 p-lg-offset-3 p-sm-offset-0 p-sm-12">
    <p-card>
      <p-header style="text-align: center; padding: 3px">
        <h2>Вход в систему</h2>
      </p-header>
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <div class="ui-inputgroup">
            <input [(ngModel)]="username" size="32" type="text" placeholder="Логин" pInputText>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-inputgroup">
            <input (keydown.enter)="onAuthClick()" [(ngModel)]="password" size="32" type="password" placeholder="Пароль"
                   pInputText>
          </div>
          <p-messages [(value)]="msgs"></p-messages>
        </div>

      </div>
      <p-footer>
        <button (click)="onAuthClick()" pButton class="ui-button-success" type="button" label="Войти" icon="pi pi-check"
                style="margin-right: .25em"></button>
        <button pButton class="ui-button-secondary" type="button" label="Отмена" icon="pi pi-times"
                style="margin-right: .25em"></button>
      </p-footer>
    </p-card>
  </div>
</div>
