.clean-filter-button {
  margin-top: 7px;
  color: darkred !important;

  &:hover {
    cursor: pointer;
  }
}

.calendar-filter-button {
  margin-top: 7px;
  color: #607D8B !important;

  &:hover {
    cursor: pointer;
  }
}
