.cell-active {
  padding: 3px;
  background: green;
  color: white;
  border-radius: 2px;
}

.cell-passive {
  padding: 3px;
  background: red;
  color: white;
  border-radius: 2px;
}

.clean-filter-button {
  margin-top: 7px;
  color: darkred;

  &:hover {
    cursor: pointer;
  }
}

.calendar-filter-button {
  margin-top: 7px;
  color: darkblue;

  &:hover {
    cursor: pointer;
  }
}
