<p-dialog (onShow)="afterShow()" header="Карточка контрагента" appendTo="body"
          [(visible)]="_display"
          [closable]="true"
          closeOnEscape="true"
          [focusOnShow]="false"
          [responsive]="true"
          showEffect="fade"
          [modal]="true"
          [style]="{width: '900px'}">
  <p-tabView>
    <p-tabPanel header="Основное" leftIcon="fas fa-file-alt">
      <div
        [formGroup]="counterPartyForm"
        class="ui-g ui-fluid"
        *ngIf="counterparty">
        <div class="ui-g-12">
          <div class="ui-g-4">
            <label for="name">ИМЯ</label>
          </div>
          <div class="ui-g-8">
            <input pInputText id="name" formControlName="name" autofocus/>
          </div>
          <div class="ui-grid-col-8">
            <p-message severity="error" text="Имя должно быть заполнено"
                       *ngIf="!counterPartyForm.controls['name'].valid&&counterPartyForm.controls['name'].dirty"></p-message>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-4">
            <label for="acive">АКТИВНЫЙ</label>
          </div>
          <div class="ui-g-8">
            <p-checkbox id="acive" [binary]="true" formControlName="active"></p-checkbox>
          </div>
        </div>


      </div>
    </p-tabPanel>
    <p-tabPanel  header="Реквизиты" leftIcon="fas fa-file-signature">
      <div
        [formGroup]="counterPartyForm"
        class="ui-g ui-fluid"
        *ngIf="counterparty">
        <div class="ui-g-12">
          <div class="ui-g-4">
            <label>Поиск по ИНН</label>
          </div>
          <div class="ui-g-8">
            <app-dadata-party
              [parentForm]="counterPartyForm"
            >

            </app-dadata-party>
          </div>
        </div>
        <ng-container formGroupName="legalRekv">
          <div  class="ui-g-12">
            <div class="ui-g-4">
              <label>НАИМ.</label>
            </div>
            <div class="ui-g-8">
              <input pInputText formControlName="shortName">
            </div>
            <div class="ui-g-4">
              <label>НАИМ.(ПОЛНОЕ)</label>
            </div>
            <div class="ui-g-8">
              <input pInputText formControlName="fullName">
            </div>
            <div class="ui-g-4">
              <label>ИНН</label>
            </div>
            <div class="ui-g-8">
              <input pInputText formControlName="inn">
            </div>
            <div class="ui-g-4">
              <label>ОГРН/ОГРНИП</label>
            </div>
            <div class="ui-g-8">
              <input pInputText formControlName="ogrn">
            </div>
            <div class="ui-g-4">
              <label>КПП</label>
            </div>
            <div class="ui-g-8">
              <input pInputText formControlName="kpp">
            </div>
          </div>
        </ng-container>
      </div>

    </p-tabPanel>
    <p-tabPanel header="Реквизиты" leftIcon="fas fa-file-signature">
      <div
        [formGroup]="counterPartyForm"
        class="ui-g ui-fluid"
        *ngIf="counterparty">
        <div class="ui-g-12">
          <div class="ui-g-4">
            <label>Поиск по ИНН</label>
          </div>
          <div class="ui-g-8">
            <app-dadata-party
              [parentForm]="counterPartyForm"
            >

            </app-dadata-party>
          </div>
        </div>
        <ng-container formGroupName="legalRekv">
          <div  class="ui-g-12">
            <div class="ui-g-4">
              <label>НАИМ.</label>
            </div>
            <div class="ui-g-8">
              <input pInputText formControlName="shortName">
            </div>
            <div class="ui-g-4">
              <label>НАИМ.(ПОЛНОЕ)</label>
            </div>
            <div class="ui-g-8">
              <input pInputText formControlName="fullName">
            </div>
            <div class="ui-g-4">
              <label>ИНН</label>
            </div>
            <div class="ui-g-8">
              <input pInputText formControlName="inn">
            </div>
            <div class="ui-g-4">
              <label>ОГРН/ОГРНИП</label>
            </div>
            <div class="ui-g-8">
              <input pInputText formControlName="ogrn">
            </div>
            <div class="ui-g-4">
              <label>КПП</label>
            </div>
            <div class="ui-g-8">
              <input pInputText formControlName="kpp">
            </div>
          </div>
        </ng-container>
      </div>

    </p-tabPanel>
    <p-tabPanel header="Банковские реквизиты" leftIcon="fas fa-university">
      <div
        [formGroup]="counterPartyForm"
        class="ui-g ui-fluid"
        *ngIf="counterparty">

        <ng-container formGroupName="paymentDetails">
          <div  class="ui-g-12">
            <div class="ui-g-4">
              <label>Банк</label>
            </div>
            <div class="ui-g-8">
              <input pInputText formControlName="bank">
            </div>
            <div class="ui-g-4">
              <label>Р/С</label>
            </div>
            <div class="ui-g-8">
              <input pInputText formControlName="paymentAccount">
            </div>
            <div class="ui-g-4">
              <label>КОРР./С</label>
            </div>
            <div class="ui-g-8">
              <input pInputText formControlName="correspondingAccount">
            </div>
            <div class="ui-g-4">
              <label>БИК</label>
            </div>
            <div class="ui-g-8">
              <input pInputText formControlName="bic">
            </div>
          </div>
        </ng-container>
      </div>

    </p-tabPanel>
  </p-tabView>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">

      <button [disabled]="counterPartyForm.invalid" type="button" class="ui-button-success" pButton icon="fa fa-check"
              (click)="counterpartySaved()"
              label="Сохранить"></button>
      <button type="button" class="ui-button-secondary" pButton icon="pi pi-times" (click)="closeDialog()"
              label="Отмена"></button>
    </div>

  </p-footer>

</p-dialog>

