<p-table #sdt
         [columns]="selectedCols"
         [value]="dataItems"
         [lazy]="true"
         (onLazyLoad)="loadTableDataLazy($event)"
         [paginator]="true"
         [rows]="numberOfElements"
         [totalRecords]="totalElements"
         [loading]="loading"
         [responsive]="true"
         selectionMode="single"
         [(selection)]="selectedShop"
         (onRowSelect)="onRowSelect($event)"
         [sortField]="sortField"
         [sortOrder]="sortOrder"
         [scrollable]="true"
         scrollHeight="400px">
  <ng-template pTemplate="caption"
               let-rowData>
    <div style="text-align:left"
         class="p-align-center">
      <p-multiSelect (onChange)="columnsChange()"
                     [options]="cols"
                     [(ngModel)]="selectedCols"
                     optionLabel="header"
                     selectedItemsLabel="{0} колонок выбрано"
                     [style]="{minWidth: '200px'}"
                     defaultLabel="Выбрать колонки">
      </p-multiSelect>

      <button (click)="onShopCreate()"
              style="margin-left: 1em; top: -10px"
              type="button"
              class="ui-button-success"
              pButton
              icon="fa fa-plus"
              label="Добавить">
      </button>
      <button (click)="isFilterShown = !isFilterShown"
              style="margin-left: 1em; top: -10px"
              type="button"
              class="ui-button-success"
              pButton
              icon="fa fa-filter"
              label="{{isFilterShown ? 'Спрятать фильтр' : 'Показать фильтр'}}">
      </button>
      <button *ngIf="false"
              style="margin-left: 1em; top: -10px"
              type="button"
              class="ui-button-success"
              pButton
              icon="fa fa-trash"
              label="Очистить фильтры">
      </button>
    </div>

  </ng-template>
  <ng-template pTemplate="header"
               let-columns>
    <tr>
      <th *ngFor="let col of columns"
          [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"
                    ariaLabel="Activate to sort"
                    ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order">
        </p-sortIcon>
      </th>
    </tr>
    <tr [hidden]="!isFilterShown">
      <th *ngFor="let col of columns; let i = index">
        <div>
          <p-autoComplete [suggestions]="searchItems"
                          field="name"
                          (onSelect)="sdt.filter($event, col.field, 'contains')"
                          (keydown.enter)="sdt.filter({id: -1, name: $event.target.value}, col.field, 'contains');searchItems = []"
                          (completeMethod)="filterSearch($event, col.field)"
                          appendTo="body">
          </p-autoComplete>
          <button pButton
                  type="button"
                  icon="pi pi-times"
                  class="ui-button-secondary"
                  (click)="cleanFilter(sdt, i, col.field, 'contains')">
          </button>
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body"
               let-dataItem
               let-columns="columns"
               let-rowData>
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns"
          [ngSwitch]="col.field"
          style="text-align: center">
        <ng-container *ngSwitchDefault>
          {{dataItem[col.field]}}
        </ng-container>
        <ng-container *ngSwitchCase="'counterparty'">
          {{dataItem[col.field]['name']}}
        </ng-container>
        <span *ngSwitchCase="'active'"
              [ngClass]="dataItem[col.field] ? 'ekc-table-span-active': 'ekc-table-span-passive'">
          {{dataItem[col.field] | activeTags }}
        </span>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary"
               let-rowData>
    Всего {{dataItems?.length}} объектов
  </ng-template>
</p-table>

<app-shop-dialog (onShopSaved)="shopSavedFromDialog($event)"
                 [shop]="shop"
                  #shopDialogComponent>

</app-shop-dialog>
